.footer {
    position: absolute;
    left:0;
    bottom:0;
    font-size:.3rem;
    width: 100%;
    height:.98rem;
    line-height: .98rem;
    text-align: center;
    color:white;
}
.footer .footer-container {
    overflow: hidden;
}
.footer .footer-container div {
    float: left;
    width: 50%;
}